html {
    font-family: "{fontFamily}";
}

body {
    margin: 0;
}

@page {
    size: {pageSize};
    margin: {pageMargin};
}

@page:right {
  @bottom-left {
      margin: 5%;
  }

  @bottom-right {
      margin: 5%;
  }

  @top-right {
      margin: 5%;
  }
}

/* For pages on the left hand side */
@page:left {
  @bottom-right {
      margin: 5%;
  }

  @bottom-left {
      margin: 5%;
  }
}

body {
  /* Reset chapter and figure counters */
	counter-reset: chapternum;
    line-height: {lineHeight};
}

/*
  Get title of the current chapter, which will be the content of the h1.
  Reset figure counter because figures start from 1 in each chapter.
*/
h1 {
    string-set: chapterTitle content();
    page-break-before: always;
    counter-reset: footnote;
}

/* Increment chapter counter */
h1.chapter:before {
    counter-increment: chapternum;
    content: counter(chapternum) ". ";
}

/* Page breaking rules */
h1, h2, h3, h4, h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 + p, h2 + p, h3 + p {
    page-break-before: avoid;
}

p {
    font-size: {fontSize};
}